body{
    overflow-x: hidden !important;
    font-family: 'Catamaran' !important;
    input,
    button{
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    section{
        background-color: #ddd;
        height: 90vh;
    }
}
/* Máximo en mobile */
@media (max-width: 991.98px){
    .achsHeader{
        &__top-bar{
            &-menus{
                .col-6{
                    .btn{
                        span{
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        &__menu{
            .navbar-collapse{
                padding: 15px;
                position: absolute;
                height: 100vh !important;
                &:not(.show){
                    left: 100%;
                }
                &.show{
                    width: 100%;
                    background-color: white;
                    left: 0%;
                    top: -36px;
                }
                .input-search-mobile{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    left: 93%;
                    position: relative;
                    z-index: 1001;
                }
                .nav-link-mobile-close{
                    background-color: #fff;
                }
                .navbar-nav{
                    .nav-item{
                        border-bottom: 1px solid #eaeade;
                        .nav-link{
                            &-empresa{
                                top: 0;
                                transition: all .2s ease-in-out;
                                &.show{
                                    background-color: #fff;
                                    top: -57px;
                                }
                            }
                            &-especialidades{
                                top: 0;
                                transition: all .2s ease-in-out;
                                &.show{
                                    background-color: #fff;
                                    top: -57px;
                                }
                            }
                            &-convenios{
                                top: 0;
                                transition: all .2s ease-in-out;
                                &.show{
                                    background-color: #fff;
                                    top: -108px;
                                }
                            }
                            &-serviciosenlinea{
                                top: 0;
                                transition: all .2s ease-in-out;
                                &.show{
                                    background-color: #fff;
                                    top: -162px;
                                }
                            }
                            &.dropdown-toggle{
                                transition: all .2s ease-in-out;
                                &:not(.show){
                                    left: 0px;
                                }
                                &.show{
                                    font-weight: bold;
                                    left: 15px;
                                    &::before{
                                        bottom: 0px;
                                        height: 1px;
                                        width: 110%;
                                        left: -30px;
                                        right: 0;
                                        margin: auto;
                                        background-color: #004C14;
                                    }
                                    > img{
                                        transform: rotate(90deg);
                                        position: absolute;
                                        top: 45%;
                                        left: -20px;
                                    }
                                }
                            }
                            ~ .dropdown-menu{
                                border-bottom: 0;
                                .col-megamenu{
                                    &__title{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 10px 0 5px 0;
                                        font-size: 17px;
                                        &[aria-expanded="true"]{
                                            img{
                                                transform: rotate(180deg);
                                            }
                                        }
                                        &::after{
                                            display: none;
                                        }
                                    }
                                    &__link{
                                        font-size: 17px;
                                        padding: 10px 0 10px 20px;
                                        &-all{
                                            color: #13C045;
                                            font-weight: bold;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                &.dropdown-search{
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-color: transparent;
                                }
                                &.dropdown-trabajadores,
                                &.dropdown-empresas,
                                &.dropdown-serviciosclinicos,
                                &.dropdown-especialidades,
                                &.dropdown-convenios,
                                &.dropdown-serviciosenlinea{
                                    position: absolute;
                                    width: 95%;
                                    left: 100%;
                                    top: 147px;
                                    display: block;
                                    &.show{
                                        left: 15px;
                                        
                                    }
                                }
                            }
                        }
                        &-sumate,
                        &-cotizar,
                        &-reservarht{
                            position: absolute;
                            padding: 15px 0;
                            bottom: 0;
                            width: 90%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            text-align: center;
                            font-weight: bold;
                            z-index: 1001;
                            background-color: white;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                height: 1px;
                                background-color: #787878;
                                width: 80px;
                            }
                        }
                        &-buttons-contact{
                            border-top: 2px solid #7EFF45;
                            border-bottom: none;
                            position: absolute;
                            bottom: 80px;
                            width: 100%;
                            left: 0;
                            right: 0;
                            margin: auto;
                            padding: 0 22px;
                            z-index: 1001;
                            background-color: white;
                            h5{
                                color: #787878;
                                font-weight: bold;
                            }
                            a{  
                                color: #373737;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                text-align: center;
                                img{
                                    height: 18px;
                                    margin-bottom: 10px;
                                }
                                strong{
                                    color: #13C045;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        &Servicios{
            .achsHeader__menu{
                .nav-item{
                    &-buttons-contact{
                        border-top: 2px solid #8C73FF !important;
                        a{
                            strong{
                                color: #8C73FF !important;
                            }
                        }
                    }
                }
            }
        }
        &Ht{
            .achsHeader__menu{
                .nav-item{
                    &-buttons-contact{
                        border-top: 2px solid #348FFF !important;
                        a{
                            strong{
                                color: #348FFF !important;
                            }
                        }
                    }
                    .nav-link{
                        &.dropdown-toggle{
                            &.show{
                                > img{
                                    top: 40% !important;
                                }
                            }
                        }
                        ~ .dropdown-menu.dropdown-serviciosclinicos,
                        ~ .dropdown-menu.dropdown-especialidades,
                        ~ .dropdown-menu.dropdown-convenios,
                        ~ .dropdown-menu.dropdown-serviciosenlinea{
                            &.show{
                                max-height: 480px;
                                overflow: scroll;
                                &::after{
                                    opacity: .35;
                                }
                            }
                            &::after{
                                content: '<--------------------  Scroll  -------------------->';
                                font-weight: 300;
                                top: 130px;
                                position: absolute;
                                text-transform: uppercase;
                                right: -116px;
                                transform: rotate(-90deg);
                                display: block;
                                font-size: 14px;
                                opacity: 0;
                                width: max-content;
                                height: max-content;
                                font-style: italic;
                            }
                            .col-megamenu{
                                &__link{
                                    &-all{
                                        color: #348FFF;
                                        text-decoration: underline;
                                    }
                                }
                                &__title{
                                    img{
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                        ~ .dropdown-menu.dropdown-convenios,
                        ~ .dropdown-menu.dropdown-serviciosenlinea{
                            &::after{
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Mínimo 200px */
@media (min-width: 200px) {
    .achsHeader{
        *{
            transition: all .2s ease-in-out;
        }
        &__top-bar{
            background-color: #EAEADE;
            &-menus{
                button{
                    color: #555;
                    border: none;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:active{
                        border: none;
                    }
                }
                a{
                    color: #373737;
                    text-decoration: none;
                    align-items: center;
                    justify-content: end;
                    flex-direction: row;
                    display: flex;
                    height: 100%;
                    img{
                        height: 18px;
                        margin-right: 4px;
                    }
                    strong{
                        margin-left: 4px;
                    }
                }
                .modal-nosotros{
                    .modal-dialog{
                        top: 36px;
                        left: 0;
                        margin: 0;
                        width: 50%;
                        &::after{
                            content: '';
                            width: 1px;
                            height: 36px;
                            position: absolute;
                            right: 0;
                            top: -36px;
                            background-color: #999;
                        }
                        .modal-content{
                            border: none !important;
                            border-radius: 0 0 8px 0;
                            ul{
                                list-style: none;
                                padding-left: 0;
                                li{
                                    a{
                                        color: #555;
                                        text-decoration: none;
                                        padding: 15px;
                                        display: block;
                                        border-bottom: 1px solid #e1e1e1;
                                    }
                                    &:last-child{
                                        a{
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &Corporativo{
            .achsHeader__menu{
                .nav-link-ingresa-mobile{
                    color: #13C045;
                    border: 2px solid #13C045;
                    text-decoration: none;
                    position: relative;
                    right: 60px;
                    &:hover{
                        background-color: #13C045;
                        color: white;
                        img{
                            filter: brightness(0) invert(1);
                        }
                    }
                }
                .navbar-toggler{
                    background-color: #13C045;
                    border-color: #13C045;
                }
            }
            .modal-accesibilidad{
                > .container{
                    max-width: 400px;
                    .modal-dialog{
                        top: 50px;
                        &::after{
                            content: '';
                            width: 30px;
                            height: 22px;
                            position: absolute;
                            right: 22px;
                            top: -22px;
                            background-color: #fff;
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                        .modal-content{
                            border-radius: 24px;
                            border-top-right-radius: 0;
                        }
                    }
                }
                h5{
                    color: var(--bs-gray);
                }
                button{
                    background-color: transparent;
                    border: 3px solid #5e5e5e;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    span{
                        letter-spacing: 1px;
                    }
                    &:hover{
                        border-color: #13C045;
                        h5,
                        figure,
                        span{
                            color: #13C045;
                            svg{
                                circle,
                                path,
                                polygon,
                                rect{
                                    fill: #13C045;
                                }
                            }
                        }
                    }
                }
                &__lowContrast,
                &__highContrast,
                &__btnAdvanced{
                    figure{
                        svg{
                            width: 24px;
                            &.w-16{
                                width: 16px;
                            }
                            circle,
                            path,
                            polygon,
                            rect{
                                fill: #5e5e5e;
                            }
                        }
                    }
                }
            }
        }
        &Servicios{
            .achsHeader__menu{
                .navbar-toggler{
                    background-color: #8C73FF;
                }
            }
            .modal-accesibilidad{
                > .container{
                    max-width: 400px;
                    .modal-dialog{
                        top: 50px;
                        &::after{
                            content: '';
                            width: 30px;
                            height: 22px;
                            position: absolute;
                            right: 22px;
                            top: -22px;
                            background-color: #fff;
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                        .modal-content{
                            border-radius: 24px;
                            border-top-right-radius: 0;
                        }
                    }
                }
                h5{
                    color: var(--bs-gray);
                }
                button{
                    background-color: transparent;
                    border: 3px solid #5e5e5e;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    span{
                        letter-spacing: 1px;
                    }
                    &:hover{
                        border-color: #8C73FF;
                        h5,
                        figure,
                        span{
                            color: #8C73FF;
                            svg{
                                circle,
                                path,
                                polygon,
                                rect{
                                    fill: #8C73FF;
                                }
                            }
                        }
                    }
                }
                &__lowContrast,
                &__highContrast,
                &__btnAdvanced{
                    figure{
                        svg{
                            width: 24px;
                            &.w-16{
                                width: 16px;
                            }
                            circle,
                            path,
                            polygon,
                            rect{
                                fill: #5e5e5e;
                            }
                        }
                    }
                }
            }
        }
        &Ht{
            .achsHeader__menu{
                .navbar-toggler{
                    background-color: #348FFF;
                }
            }
            .modal-accesibilidad{
                > .container{
                    max-width: 400px;
                    .modal-dialog{
                        top: 50px;
                        &::after{
                            content: '';
                            width: 30px;
                            height: 22px;
                            position: absolute;
                            right: 22px;
                            top: -22px;
                            background-color: #fff;
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                        .modal-content{
                            border-radius: 24px;
                            border-top-right-radius: 0;
                        }
                    }
                }
                h5{
                    color: var(--bs-gray);
                }
                button{
                    background-color: transparent;
                    border: 3px solid #5e5e5e;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    span{
                        letter-spacing: 1px;
                    }
                    &:hover{
                        border-color: #348FFF;
                        h5,
                        figure,
                        span{
                            color: #348FFF;
                            svg{
                                circle,
                                path,
                                polygon,
                                rect{
                                    fill: #348FFF;
                                }
                            }
                        }
                    }
                }
                &__lowContrast,
                &__highContrast,
                &__btnAdvanced{
                    figure{
                        svg{
                            width: 24px;
                            &.w-16{
                                width: 16px;
                            }
                            circle,
                            path,
                            polygon,
                            rect{
                                fill: #5e5e5e;
                            }
                        }
                    }
                }
            }
        }
        &__menu{
            .navbar-toggler{
                height: 80px;
                position: absolute;
                right: 0;
                border-radius: 0;
                top: 0;
            }
            .navbar-achscl{
                .nav-link{
                    color: rgba(55, 55, 55, 0.8);
                    font-size: 14px;
                    position: relative;
                    &-search{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        &.show{
                            -webkit-box-shadow: 0px 0px 0px 1px #13c045;
                            -moz-box-shadow: 0px 0px 0px 1px #13c045;
                            box-shadow: 0px 0px 0px 1px #13c045;
                            &::before{
                                display: none;
                            }
                            img{
                                transform: none !important;
                            }
                        }
                    }
                    &-search,
                    &-sumate,
                    &-ingresa{
                        &:hover{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &.dropdown-toggle{
                        &.show{
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: -13px;
                                left: 0;
                                width: 100%;
                                background-color: #13C045;
                                height: 3px;
                                z-index: 1001;
                            }
                            > img{
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &.dropdown-toggle,
                    &-search{
                        &::after{
                            display: none;
                        }
                    }
                    ~ .dropdown-menu.dropdown-trabajadores,
                    ~ .dropdown-menu.dropdown-empresas{
                        left:0;
                        right:0;
                        width:100%;
                        margin-top:0;
                        border: none;
                        border-bottom: 3px solid #13C045;
                        border-radius: 0;
                        a{
                            text-decoration: none;
                        }
                        .col-megamenu{
                            padding-left: 0;
                            position: relative;
                            a{
                                position: relative;
                            }
                            &__title{
                                display: block;
                                color: #004C14;
                                font-weight: 600;
                                margin-bottom: 10px;
                                padding: 5px 0;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 40%;
                                    background-color: #7EFF45;
                                    height: 3px;
                                }
                                ~ .collapse:not(.show) {
                                    display: none;
                                }
                            }
                            &__link{
                                color: #666;
                                font-size: 15px;
                                padding: 2px 0;
                            }
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        border: none;
                        border-radius: 0;
                        width: 100%;
                        margin: 0;
                        .input-group{
                            background-color: #E6F7E4;
                            border: 1px solid #13C045;
                            border-radius: 8px;
                            overflow: hidden;
                            margin-right: 15px;
                            width: 90%;
                            img{
                                left: 10px;
                                position: absolute;
                                top: 10px;
                            }
                            input{
                                background-color: transparent;
                                border: none;
                                padding: 10px 15px 10px 40px;
                            }
                        }
                        button{
                            border: none;
                            box-shadow: 2px 2px 10px 0 rgba(40,40,40,0.4);
                            color: #13C045;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 18px;
                            &:hover{
                                background-color: #004C14;
                                color: white;
                            }
                        }
                        &::before,
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background-color: white;
                            height: 100%;
                        }
                        &::before{
                            right: -100%;
                        }
                        &::after{
                            left: -100%;
                        }
                    }
                    &-sumate{
                        color: white;
                        background-color: #27933E;
                        border: 2px solid #27933E;
                        &:hover{
                            background-color: #004C14;
                            border-color: #004C14;
                        }
                    }
                    &-ingresa{
                        color: #13C045;
                        border: 2px solid #13C045;
                        &.show{
                            color: white;
                            background-color: #13C045;
                            &::before{
                                display: none !important;
                            }
                            img{
                                filter: brightness(0) invert(1);
                                transform: none !important;
                            }
                        }
                        &:hover{
                            background-color: #13C045;
                            color: white;
                            img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
            .navbar-servicios{
                .nav-link{
                    color: rgba(55, 55, 55, 0.8);
                    font-size: 14px;
                    position: relative;
                    &-search{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        &.show{
                            -webkit-box-shadow: 0px 0px 0px 1px #8C73FF;
                            -moz-box-shadow: 0px 0px 0px 1px #8C73FF;
                            box-shadow: 0px 0px 0px 1px #8C73FF;
                            &::before{
                                display: none;
                            }
                            img{
                                transform: none !important;
                            }
                        }
                    }
                    &-search,
                    &-cotizar{
                        &:hover{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &-search{
                        &::after{
                            display: none;
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        border: none;
                        border-radius: 0;
                        width: 100%;
                        margin: 0;
                        .input-group{
                            background-color: #E6F7E4;
                            border: 1px solid #8C73FF;
                            border-radius: 8px;
                            overflow: hidden;
                            margin-right: 15px;
                            width: 90%;
                            img{
                                left: 10px;
                                position: absolute;
                                top: 10px;
                            }
                            input{
                                background-color: transparent;
                                border: none;
                                padding: 10px 15px 10px 40px;
                            }
                        }
                        button{
                            border: none;
                            box-shadow: 2px 2px 10px 0 rgba(40,40,40,0.4);
                            color: #8C73FF;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 18px;
                            &:hover{
                                background-color: #004C14;
                                color: white;
                            }
                        }
                        &::before,
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background-color: white;
                            height: 100%;
                        }
                        &::before{
                            right: -100%;
                        }
                        &::after{
                            left: -100%;
                        }
                    }
                    &-cotizar{
                        color: white;
                        background-color: #614BF9;
                        border: 2px solid #614BF9;
                        &:hover{
                            background-color: #8C73FF;
                            border-color: #8C73FF;
                        }
                    }
                }
            }
            .navbar-ht{
                .nav-link{
                    color: rgba(55, 55, 55, 0.8);
                    font-size: 14px;
                    position: relative;
                    &-search{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        &.show{
                            -webkit-box-shadow: 0px 0px 0px 1px #348FFF;
                            -moz-box-shadow: 0px 0px 0px 1px #348FFF;
                            box-shadow: 0px 0px 0px 1px #348FFF;
                            &::before{
                                display: none;
                            }
                            img{
                                transform: none !important;
                            }
                        }
                    }
                    &-search,
                    &-reservarht{
                        &:hover{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &.dropdown-toggle{
                        &.show{
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: -14px;
                                left: 0;
                                width: 100%;
                                background-color: #348FFF;
                                height: 3px;
                                z-index: 1001;
                            }
                            > img{
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &.dropdown-toggle,
                    &-search{
                        &::after{
                            display: none;
                        }
                    }
                    ~ .dropdown-menu.dropdown-serviciosclinicos,
                    ~ .dropdown-menu.dropdown-especialidades,
                    ~ .dropdown-menu.dropdown-convenios,
                    ~ .dropdown-menu.dropdown-serviciosenlinea{
                        left:0;
                        right:0;
                        width:100%;
                        margin-top:0;
                        border: none;
                        border-bottom: 3px solid #348FFF;
                        border-radius: 0;
                        a{
                            text-decoration: none;
                        }
                        .col-megamenu{
                            padding-left: 0;
                            position: relative;
                            a{
                                position: relative;
                            }
                            &__title{
                                display: block;
                                color: #002A6C;
                                font-weight: 600;
                                margin-bottom: 10px;
                                padding: 5px 0;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 40%;
                                    background-color: #7EFF45;
                                    height: 3px;
                                }
                                ~ .collapse:not(.show) {
                                    display: none;
                                }
                            }
                            &__link{
                                color: #666;
                                font-size: 15px;
                                padding: 5px 0;
                            }
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        border: none;
                        border-radius: 0;
                        width: 100%;
                        margin: 0;
                        .input-group{
                            background-color: #e4ecf7;
                            border: 1px solid #348FFF;
                            border-radius: 8px;
                            overflow: hidden;
                            margin-right: 15px;
                            width: 90%;
                            img{
                                left: 10px;
                                position: absolute;
                                top: 10px;
                            }
                            input{
                                background-color: transparent;
                                border: none;
                                padding: 10px 15px 10px 40px;
                            }
                        }
                        button{
                            border: none;
                            box-shadow: 2px 2px 10px 0 rgba(40,40,40,0.4);
                            color: #348FFF;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 18px;
                            &:hover{
                                background-color: #2B6BDC;
                                color: white;
                            }
                        }
                        &::before,
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background-color: white;
                            height: 100%;
                        }
                        &::before{
                            right: -100%;
                        }
                        &::after{
                            left: -100%;
                        }
                    }
                    &-reservarht{
                        color: white;
                        background-color: #2B6BDC;
                        border: 2px solid #2B6BDC;
                        &:hover{
                            background-color: #348FFF;
                            border-color: #348FFF;
                        }
                    }
                }
            }
        }
    }
    .offcanvas-ingreso,
    .dropdown-menu.dropdown-ingresa{
        h6{
            color: #787878;
            font-size: 17px;
            font-weight: bold;
        }
        .nav-link{
            font-weight: bold;
            text-align: center;
            padding: 10px;
            &-virtual{
                background-color: #13C045;
                border: 2px solid #13C045;
                color: white;
            }
            &-gestion{
                background-color: white;
                border: 2px solid #27933E;
                color: #27933E;
                &:hover{
                    img{
                        filter: brightness(200);
                    }
                }
            }
            &:hover{
                &::before{
                    display: none;
                }
            }
            img{
                vertical-align: -5px;
            }
            &:hover{
                background-color: #004C14;
                border-color: #004C14;
                color: white;
            }
        }
    }
}
/* Entra 576px y 992px */
@media (min-width: 576px) and (max-width: 991.98px) {
    .achsHeader{
        &__menu{
            .navbar-collapse{
                &.show{
                    &::before,
                    &::after{
                        content: '';
                        background-color: white;
                        width: 100%;
                        height: 100vh;
                        top: 0;
                        position: absolute;
                        z-index: 1000;
                    }
                    &::before{
                        left: -100%;
                    }
                    &::after{
                        right: -100%;
                    }
                }
            }
        }
    }
}
/* Mínimo 992px*/
@media (min-width: 992px) {
    .achsHeader{
        &__top-bar{
            &-menus{
                button{
                    width: max-content;
                }
                .modal-nosotros{
                    .modal-dialog{
                        left: initial;
                        width: initial;
                        .modal-content{
                            border-radius: 0 0 8px 8px;
                            ul{
                                li{
                                    a{
                                        &:hover{
                                            color: #13C045;
                                        }
                                    }
                                }
                            }
                        }
                        &::after{
                            left: 50%;
                            right: initial;
                        }
                    }
                }
            }
        }
        &Corporativo,
        &Servicios,
        &Ht{
            .modal-accesibilidad{
                > .container{
                    height: 100%;
                    max-width: 450px;
                    h5{
                        font-size: 16px;
                    }
                    .modal-dialog{
                        top: initial;
                        &::after{
                            display: none;
                        }
                        .modal-content{
                            border-top-right-radius: 24px;
                            .toggle-advanced{
                                height: initial;
                                h6,
                                h5{
                                    color: #13C045;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                                h5{
                                    display: none;
                                }
                                &[aria-expanded="true"]{
                                    h6{
                                        display: none;
                                    }
                                    h5{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &Corporativo{
            .modal-nosotros{
                .modal-dialog{
                    &::after{
                        left: 70%;
                    }
                }
            }
        }
        &Servicios{
            .modal-nosotros{
                > .container{
                    .modal-dialog{
                        .modal-content{
                            ul{
                                li{
                                    a{
                                        &:hover{
                                            color: #8C73FF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-accesibilidad{
                > .container{
                    .modal-dialog{
                        .modal-content{
                            .toggle-advanced{
                                h6,
                                h5{
                                    color: #8C73FF !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        &Ht{
            .modal-nosotros{
                > .container{
                    .modal-dialog{
                        .modal-content{
                            ul{
                                li{
                                    a{
                                        &:hover{
                                            color: #348FFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modal-accesibilidad{
                > .container{
                    .modal-dialog{
                        .modal-content{
                            .toggle-advanced{
                                h6,
                                h5{
                                    color: #348FFF !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__menu{
            .navbar-achscl{
                .nav-link{
                    ~ .dropdown-menu.dropdown-trabajadores,
                    ~ .dropdown-menu.dropdown-empresas{
                        .col-megamenu{
                            padding-left: 30px;
                            position: relative;
                            &:first-child,
                            &:last-child{
                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 6px;
                                    width: 6px;
                                    background-color: #eaeade;
                                    height: 100%;
                                }
                            }
                            &__title{
                                pointer-events: none;
                                ~ .collapse:not(.show) {
                                    display: block;
                                }
                            }
                            &__link{
                                &-all{
                                    color: #13C045;
                                    font-weight: bold;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                &:hover{
                                    color: #13C045;
                                }
                            }
                            &.after-none{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                        &::before,
                        &::after{
                            content: '';
                            position: absolute;
                            top: -4px;
                            width: 100%;
                            background-color: white;
                            height: 102%;
                            border-bottom: 3px solid #13C045;
                        }
                        &::before{
                            right: 100%;
                        }
                        &::after{
                            left: 100%;
                        }
                    }
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -13px;
                            left: 0;
                            width: 100%;
                            background-color: #13C045;
                            height: 3px;
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        background-color: #13C045;
                        .input-group{
                            background-color: white;
                            width: 100%;
                            input{
                                border: none;
                            }
                        }
                        &::after,
                        &::before{
                            background-color: #13C045;
                        }
                    }
                    ~ .dropdown-menu.dropdown-ingresa{
                        left: initial;
                        right: 0;
                        margin-top: 20px;
                        border: 0;
                        max-width: 400px;
                        width: 100%;
                        &::after{
                            content: "";
                            width: 30px;
                            height: 20px;
                            position: absolute;
                            right: 50px;
                            top: -20px;
                            background-color: #fff;
                            -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }
                        .nav-link{
                            text-transform: initial;
                        }
                    }
                }
            }
            .navbar-servicios{
                .nav-link{
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -13px;
                            left: 0;
                            width: 100%;
                            background-color: #8C73FF;
                            height: 3px;
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        background-color: #8C73FF;
                        .input-group{
                            background-color: white;
                            width: 100%;
                            input{
                                border: none;
                            }
                        }
                        &::after,
                        &::before{
                            background-color: #8C73FF;
                        }
                    }
                }
            }
            .navbar-ht{
                .nav-link{
                    ~ .dropdown-menu.dropdown-serviciosclinicos,
                    ~ .dropdown-menu.dropdown-especialidades,
                    ~ .dropdown-menu.dropdown-convenios,
                    ~ .dropdown-menu.dropdown-serviciosenlinea{
                        .col-megamenu{
                            padding-left: 30px;
                            position: relative;
                            &:first-child,
                            &:last-child{
                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 6px;
                                    width: 6px;
                                    background-color: #eaeade;
                                    height: 100%;
                                }
                            }
                            &__title{
                                pointer-events: none;
                                ~ .collapse:not(.show) {
                                    display: block;
                                }
                            }
                            &__link{
                                padding: 2px;
                                &-all{
                                    color: #348FFF;
                                    font-weight: bold;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                &:hover{
                                    color: #348FFF;
                                }
                            }
                            &.after-none{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                        &::before,
                        &::after{
                            content: '';
                            position: absolute;
                            top: -2px;
                            width: 100%;
                            background-color: white;
                            height: 102%;
                            border-bottom: 3px solid #348FFF;
                        }
                        &::before{
                            right: 100%;
                        }
                        &::after{
                            left: 100%;
                        }
                    }
                    &:hover{
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -14px;
                            left: 0;
                            width: 100%;
                            background-color: #348FFF;
                            height: 3px;
                        }
                    }
                    ~ .dropdown-menu.dropdown-especialidades{
                        &::before,
                        &::after{
                            top: -4px;
                        }
                    }
                    ~ .dropdown-menu.dropdown-serviciosenlinea{
                        &::before,
                        &::after{
                            top: 0px;
                        }
                    }
                    ~ .dropdown-menu.dropdown-search{
                        background-color: #348FFF;
                        .input-group{
                            background-color: white;
                            width: 100%;
                            input{
                                border: none;
                            }
                        }
                        &::after,
                        &::before{
                            background-color: #348FFF;
                        }
                    }
                }
            }
        }
    }
}